extends layout

block append css
	link(rel="stylesheet", href="/stylesheets/p-loading.min.css")

block navigation
	nav(class="navbar navbar-expand-lg navbar-light fixed-top repositories", id="mainNav")
		a(class="navbar-brand", href="/") GitHub Vacation
		button(class="navbar-toggler navbar-toggler-right", type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
			img(src="#{avatar_url}", style="max-width: 35px;")

		div(class="collapse navbar-collapse", id="navbarResponsive")
			ul(class="navbar-nav ml-auto")
				li(class="nav-item")
					a(class="nav-link", href="/logout") Sign Out #{username}

block content
	div(id="reportMessages" class="repository-messages-wrapper")
	div(class="container repositories")
		div(class="row")
			each repository, i in repositories
				div(class=".col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="repositoryCard#{repository.repositoryName}")
					div(id="card#{repository.repositoryName}" class=(repository.enabled ? "card" : "card text-secondary disabled-repository"), style="margin-top: 10px;")
						div(class="card-body")
							h4(class="card-title") #{repository.repositoryName}
							h6(class="card-subtitle mb-2 text-muted") #{repository.repositoryOwner}

							form
								div(class="form-group vacation-mode")
									div(class="enable-vacation-mode")
										label(class="switch")
											input(class="enable-vacation", data-repository-name="#{repository.repositoryName}", data-repository-owner="#{repository.repositoryOwner}", id="vacationMode#{repository.repositoryName}", type="checkbox", checked=(repository.enabled ? "checked" : undefined))
											span(class="slider round")
								div(class="form-group close-pull-wrapper")
									div(class="form-check")
										label(class="form-check-label close-pull")
											input(class="form-check-input", id="closePull#{repository.repositoryName}", type="checkbox", checked=(repository.closePull ? "checked" : undefined), disabled=(repository.enabled ? undefined : "disabled"))
											| Close Pull

								div(class="form-group comment-pull")
									label(for="exampleFormControlTextarea1") Pull Request Comment
									textarea(class="form-control", id="comment#{repository.repositoryName}", rows="3", disabled=(repository.enabled ? undefined : "disabled"), placeholder="Write your comment...") #{repository.comment}

								button(class=(repository.enabled ? "btn btn-primary save-button" : "btn btn-secondary save-button"), id="saveButton#{repository.repositoryName}", type="button", onclick="enable('#{repository.repositoryOwner}', '#{repository.repositoryName}');", disabled=(repository.enabled ? undefined : "disabled")) Save

block append js
	script
		| WEDEPLOY_UI_BASE_URL = '#{WEDEPLOY_UI_BASE_URL}';
	script(src="/javascripts/repositories.js")
	script(src="/javascripts/p-loading.min.js")