extends layout

block content
	h1= title
	p Welcome to #{title}

	div(class="row")
		each repository, i in repositories
			div(class=".col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3")
				div(class="card", style="margin-top: 10px;")
					div(class="card-body")
						h4(class="card-title") #{repository.name}
						h6(class="card-subtitle mb-2 text-muted") #{repository.owner}
						h7 Vacation
						button(type="button" class="btn btn-sm btn-toggle collapsed", data-target="##{repository.name}CollapseExample", data-toggle="collapse", aria-expanded="false", aria-pressed="false", autocomplete="off")
							div(class="handle")

						div(class="collapse", id="#{repository.name}CollapseExample")
							div(class="form-group")
								label(for="exampleFormControlTextarea1") Example textarea
								textarea(class="form-control", rows="4")
						p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
						a(href="#", class="card-link") Card link
						a(href="#", class="card-link") Another link
					div(class="card-footer text-muted")
						| 2 days ago

	script.
		var socket = io.connect('https://github-github.wedeploy.io');
		function enable(owner, repo) {
			socket.emit(
				'webHook',
				{
					'owner': owner,
					'repo': repo
				}
			);
		}